.btn {
    background-color: rgb(159, 105, 221);
    color: rgb(226, 216, 247);
    text-align: center;
    width: 100%;
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}
.aba{
    width: 100%;
    height: 400px;
}
#aba1{
    background-color: rgb(207, 102, 207);
}
#aba2{
    background-color: rgb(39, 182, 115);
}
#aba3{
    background-color: rgb(120, 58, 190);
}
#aba4{
    background-color: rgb(39, 182, 115);
}
#aba5{
    background-color: rgb(120, 58, 190);
}
.conteudo{
    text-align: center;
}

body {
    background-color: rgb(221, 217, 245);
}
.barra {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgb(172, 184, 241);
}

.desktop {
    display: none;
}

.tablet {
    display: none;
}

.mobile{
    font-size: 50px;
    color: rgb(85, 27, 177);
}

@media (min-width:800px){
    .barra{
        background-color: rgb(172, 184, 241);
        height: 80px;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: inline;
        font-size: 55px;
        color: rgb(23, 25, 153);
    }
   .btn{
    margin-top: 0%;
    width: 19%;
   
   }
   .conteudo {
    text-align: center;
   }

}

@media (min-width:1228px) {
    .barra{
        background-color: rgb(230, 127, 199);
        height: 120px;
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 70px;
        color: rgb(100, 0, 70);
    }
    .conteudo{
        text-align:center;
    }
    .btn{
    margin-top: 0;
    width: 100px;
    font-size: 16px;
    border-radius: 10%;
}
}